/* 
=================================================
  BODY
=================================================
*/

body {
  background: hsl(0,0,20%);
  margin-top: 10em;
}

.container {
  max-width: 1310px;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

main.container .row {
  /* padding: 1em 2em; */
}

.container .row {
  /* margin-left: -15px;
  margin-right: -15px; */
}

.my-image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.my-image img{
  position: absolute;
  max-width: 100%;
}

.card {
  border: none;
  border-radius: 0;
}

.card-link {
  color: #000;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

section h3, aside h3, article h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #9a9a9a;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 990px) {
  body {
    margin-top: 5em;
  }
}

/* 
=================================================
  BUTTON
=================================================
*/

.btn-primary {
  border-radius: 0;
}


.btn-sign {
  background: #f72210;  
  border: none;
  text-transform: uppercase;
}

.btn-sign:hover {
  color: #fff;
  background: #f72210;
}

.btn-subscribe {
  background-color: #fff;
  color: #f72210;
  border: none;
  text-transform: uppercase;
}

.btn-subscribe:hover {
  background-color: #fff;
  color: #f72210;
}

.btn-search {
  border:none;
  color: #000;
}


/* 
============================================
  HEADER
============================================
*/

.page-header {
  color: #fff;
  position: fixed;
  min-width: 350px;
  top:0;
  left:0;
  right:0;
  z-index: 999;
}

.header-top {
  background-color: #f72210;
  z-index:2;
  padding: 1rem;
}

.header-middle {
  position: absolute;
  top:0;
  left: 46%;
  z-index:2;
}

.header-middle a {
  color: #fff;
  font-size: 2.5rem;
}

.header-middle a:hover {
  text-decoration: none;
}

.header-bottom {
  background-color: #fff;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  flex-grow:1;
  margin-left: auto;
  order: 2;
  border-right: 1px solid #ddd;
  text-align: center;
}

.b-none {
  border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8);
 }

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,0.9);
 }


@media screen and (max-width: 990px) {
  
  .navbar {
    background-color: #f72210;
  }
  
  .header-top {
    position: absolute;
    right: 75px;
    padding: 0.5rem;
  }
  
  .header-middle {
    top: 1rem;
    left: initial;
  }
  
  .header-middle a {
    font-size: 1rem;
  }
  
  .ht-1 {
    display: none;
  }
  
  .nav-item {
    border-right: none;
  }
  
  .nav-search {
    order: 1;
  }
  
  .nav-search input {
    width: 80%;
    margin-right: auto;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
  }
 
}

/* FOOTER */

.footer-title {
  font-size: 3rem;
  color: #f72210;
}

.footer-social {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}
